{% extends "index.html" %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{%static './image/logo.jfif'%}" width="30" height="30" alt="">
        Crypto
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'des' %}">DES</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'tdes' %}">TDES </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active" style="color: red;" href="{% url 'hash' %}"><b>HASH</b></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'aes' %}">AES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/rsa">RSA</a>
            </li>
        </ul>

    </div>
</nav>
{% endblock navbar %}

{% block section %}

{% endblock section %}

{% block container %}

<div class="row gap-y">
    <div class="col-md-9 col-sm-12 col-12">

        <div class="text-center">
            <h1>Verify integrity of files</h1>
        </div>

        <form action="{% url 'hash_encrypt' %}" method="POST" id="hashform" role="form" enctype="multipart/form-data"
            style="max-width: 100%;">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>Original file </h2>
                    <div class="form-group">
                        <label for="inputString">Choose the file to be encrypted:</label>
                        <input class="form-control input-lg" id="originalfile" type="file" file-model="file"
                            name="originalfile" required="required">
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 vertical-line">
                    <h2>Output file after decryption </h2>
                    <div class="form-group">
                        <label for="inputString">Choose the file to be encrypted:</label>
                        <input class="form-control input-lg" id="outputfile" type="file" file-model="file"
                            name="outputfile" required="required">
                    </div>
                </div>
            </div>
            <div style="text-align: center;margin-left: 25%; margin-right: 25%;">
                <label for="mode">Algorithm:</label>

                <select name="dropdown" class="form-control input-lg ng-pristine ng-untouched ng-valid"
                    ng-model="mode_encrypt" id="mode_encrypt">
                    <option value="MD5" selected="">MD5</option>
                    <option value="MD2">MD2</option>
                    <option value="MD4">MD4</option>
                    <option value="SHA-256">SHA-256</option>
                    <option value="SHA-512">SHA-512</option>
                    <option value="SHA-384">SHA-384</option>
                </select>
                <input type="hidden" id="algorithm" name="algorithm" value="MD5">

                <script>
                    $('#mode_decrypt').click(function (event) {
                        $('#algorithm').val($('#mode_decrypt').val());
                    });
                </script>
                <div class="form-group" style="margin-top: 2%;">
                    <input class="btn btn-outline-primary" id="btn_Encrypt" type="submit" value="Encrypt">
                </div>
            </div>

        </form>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="outputString">Hash value Original file Output:</label>
                    <textarea readonly id="hash_value_ori"
                        class="form-control input-lg ng-pristine ng-untouched ng-valid" rows="4"
                        placeholder="Result goes here" ng-model="encryptedOutput"></textarea>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 vertical-line">
                <div class="form-group">
                    <label for="outputString">Hash value Output file after decryption Output:</label>
                    <textarea readonly id="hash_value_out"
                        class="form-control input-lg ng-pristine ng-untouched ng-valid" rows="4"
                        placeholder="Result goes here" ng-model="encryptedOutput"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group" style="text-align: center;margin-left: 25%; margin-right: 25%; margin-top: 2%;">
            <label for="outputString"> Is integrity:</label>
            <textarea readonly id="Isintegrity" class="form-control input-lg ng-pristine ng-untouched ng-valid" rows="1"
                placeholder="Result goes here" ng-model="encryptedOutput"></textarea>
        </div>

    </div>


    <div class="col-md-3 col-sm-11 col-11 row-off">
        <div class="mb-9">
            <h3 class="h5 mb-4 text-primary">Other Free Tools</h3>
            <ul class="list-group">
                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="online-tools/rsa-encryption-decryption">Online RSA Encrypt
                        Decrypt</a>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="{% url 'tdes'  %}">Online Triple DES Encrypt Decrypt</a>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="{% url 'des' %}">Online DES Encrypt
                        Decrypt</a>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="{% url 'aes' %}">Online AES
                        Encrypt Decrypt</a>
                </li>

            </ul>

        </div>
    </div>
</div>


<link rel="stylesheet" href="{% static './css/custom.css' %}">

<script>
    $(document).on('submit', '#hashform', function (e) {
        e.preventDefault();
        // console.log("dat")
        var form = $('#hashform')[0];
        var formData = new FormData(form);
        formData.append('originalfile', $('#originalfile')[0].files[0]);
        formData.append('outputfile', $('#outputfile')[0].files[0]);
        formData.append('dropdown', $('#mode_encrypt').val());
        // formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
        //console.log($(this).val());
        //var form = $(this).closest("form");
        var token = '{{csrf_token}}';

        $.ajax({
            headers: { "X-CSRFToken": token },
            type: 'POST',
            url: "{% url 'hash_encrypt' %}",
            data: formData,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            dataType: 'json',
            success: function (response) {
                console.log("tiend12323at")
                $('#hash_value_ori').val(response.hash_value_ori);
                $('#hash_value_out').val(response.hash_value_out);
                $('#Isintegrity').val(response.hash_value_ori == response.hash_value_out);
                console.log("tiendat")
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError);

            }
        });
    });

</script>
{% endblock container %}