{% extends "index.html" %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{%static './image/logo.jfif'%}" width="30" height="30" alt="">
        Crypto
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'des' %}">DES</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'tdes' %}">TDES </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'hash' %}">HASH</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link active" style="color: red;" href="{% url 'aes' %}"><b>AES</b> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/rsa">RSA</a>
            </li>
        </ul>

    </div>
</nav>
{% endblock navbar %}

{% block container %}

<div class="row gap-y">
    <div class="col-md-9 col-sm-12 col-12">

        <div class="row text-center">
            <h1>AES Encryption and Decryption Online Tool(Calculator)</h1>
        </div>


        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form action="{% url 'aes_encrypt' %}" method="POST" name="encryptform" id="encryptform" role="form"
                    class="ng-pristine ng-valid" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>AES Online Encryption </h2>
                    <div class="form-group">
                        <label for="inputString">Choose the file to be encrypted:</label>
                        <input class="form-control input-lg" id="fileInput" type="file" file-model="file"
                            name="fileInput" required="required">
                        
                        <label for="mode">Key option:</label>
                        <select class="form-control input-lg ng-pristine ng-untouched ng-valid" ng-model="mode"
                            id="key_mode_en" name = "key_mode_en">
                            <option value="Op1" selected="">The length of key is 16 bytes</option>
                            <option value="Op2">The length of key is 24 bytes</option>
                            <option value="Op3">The length of key is 32 bytes</option>
                            
                        </select>

                        <label for="inputString">Choose the key: </label>
                        <input class="form-control input-lg" id="filekey" type="file" file-model="file" name="filekey"
                            required="required">
                    </div>

                
                    <div class="form-group">
                        <label for="mode">Mode</label>

                        <select name="dropdown" class="form-control input-lg ng-pristine ng-untouched ng-valid"
                            ng-model="mode_encrypt" id="mode_encrypt">
                            <option value="ECB" selected="">ECB</option>
                            <option value="CBC">CBC</option>
                            <option value="CFB">CFB</option>
                            <option value="OFB">OFB</option>
                            <option value="EAX">EAX</option>

                        </select>
                    </div>

                    <input type="hidden" id="dropdownip" name="dropdown" value="ECB">
                    <script>
                        $('#mode_encrypt').click(function (event) {
                            var value = $('#mode_encrypt').val();
                            $('#dropdownip').val(value);
                            if (value != "ECB"){
                                $("#inputoption").prop( "disabled", false );
                            }
                        });
                    </script>

                    <div id="ivtag" class="form-group ng-hide" ng-show="mode_encrypt == 'ECB'"  >
                        <label for="encryptivinput" id="labeloption">Choose IV File (Optional):</label>
                        <input class="form-control input-lg ng-pristine ng-untouched ng-valid" id="inputoption"
                            ng-model="encryptiv" name="ivencryptfile" type="file" file-model="file" required="required" disabled >
                    </div>

                   <div class="form-group">
                        <input class="btn btn-outline-primary" type="submit" value="Encrypt">
                     
                    </div>
                </form>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 vertical-line">

                <form action="{% url 'aes_decrypt' %}" method="POST" role="form" class="ng-pristine ng-valid"
                    enctype="multipart/form-data" id = "decryptform">
                    {% csrf_token %}
                    <h2>AES Online Decryption </h2>
                    <div class="form-group">
                        <label for="inputString">Choose the file to be decrypted:</label>
                        <input class="form-control input-lg" id="de_fileInput" type="file" file-model="file"
                            name="de_fileInput" required="required">
                        
                        <label for="mode">Key option:</label>
                        <select class="form-control input-lg ng-pristine ng-untouched ng-valid" ng-model="mode"
                            id="key_mode_de" name = "key_mode_de">
                            <option value="Op1" selected="">The length of key is 16 bytes</option>
                            <option value="Op2">The length of key is 24 bytes</option>
                            <option value="Op3">The length of key is 32 bytes</option>
                            
                        </select>
                        
                        <label for="inputString">Choose the key: </label>
                        <input class="form-control input-lg" id="de_filekey" type="file" file-model="file"
                            name="de_filekey" required="required">
                    </div>

                    <div class="form-group">
                        <label for="mode">Mode</label>
                        <select class="form-control input-lg ng-pristine ng-untouched ng-valid" ng-model="mode"
                            id="mode_decrypt" ng-change="encryptModeSelected()">
                            <option value="ECB" selected="">ECB</option>
                            <option value="CBC">CBC</option>
                            <option value="CFB">CFB</option>
                            <option value="OFB">OFB</option>
                            <option value="EAX">EAX</option>
                        </select>
                    </div>

                    <input type="hidden" id="de_dropdownip" name="de_dropdown" value="ECB">


                    <div class="form-group" id="tag_deiv" >
                        <label for="decryptivinput" id="decryptivlabel">Enter IV Used During
                            Encryption(Optional)</label>
                        <input class="form-control input-lg ng-pristine ng-untouched ng-valid" id="ivdecryptfile"
                            ng-model="decryptiv" name="ivdecryptfile" type="file" file-model="file" required="required" disabled>
                    </div>


                    
                    <script>
                        $("#tag_deiv").hide();
                        $('#mode_decrypt').click(function (event) {
                            var value = $('#mode_decrypt').val();
                            $('#de_dropdownip').val(value);
                            if (value != "ECB"){
                                $("#ivdecryptfile").prop( "disabled", false );
                                $("#tag_deiv").show();
                            }
                        });
                    </script>

                    <div class="form-group">
                        <input class="btn btn-outline-primary" type="submit" value="Decrypt">
                        
                    </div>
                    
                </form>
            </div>
        </div>




        <!-- add-unit-top -->

        <!-- <div class="row">
            <h2>Usage Guide</h2>
            <p><strong>

            </strong>
            </p>
            <p>For encryption, you can either enter the plain text, password, an image file or a
                .txt
                file that you want to encrypt. Now choose the block cipher mode of encryption.
                ECB(Electronic Code Book) is the simplest encryption mode and does not require IV
                for encryption. The input plain text will be divided into blocks and each block will
                be
                encrypted with the key provided and hence identical plain text blocks are encrypted
                into
                identical cipher text blocks. CBC mode is
                highly recommended and it requires IV to make each message unique. If no IV is
                entered
                then default will be used here for CBC mode and that defaults to a zero based
                byte[16].</p>
            <p>The AES algorithm has a 128-bit block size, regardless of whether you key length is
                256, 192 or 128 bits. When a symmetric cipher mode requires an IV, the length of the
                IV must
                be equal to the block size of the cipher. Hence, you must always use an IV of 128
                bits (16
                bytes) with AES.</p>
            <p>AES provides 128 bit, 192 bit and 256 bit of secret key size for
                encryption. Things to remember here is if you are selecting
                128 bits for encryption, then the secret key must be of 16 bits long and 24 and 32
                bits for
                192 and 256 bits of key size. Now you can enter the secret key
                accordingly. By default, the encrypted text will be <a
                    href="https://www.devglan.com/online-tools/base64-encode-decode">base64
                    encoded</a>
                but you have options to select the output format as HEX too.</p>
            <p>Similarly, for image and .txt file the encrypted form will be Base64 encoded.</p>
            <p>Below is a screenshot that shows a sample usage of this online AES encryption tool.
            </p>
            <img src="https://i.imgur.com/VbralpB.png" data-src="https://i.imgur.com/VbralpB.png"
                title="aes-online-encryption-sample-screenshot" alt="aes-online-encryption-sample-screenshot"
                class="img-responsive">
            <p>AES decryption has also the same process. By default it assumes the entered text be
                in
                Base64. The input can be Base64 encoded or Hex encoded image and .txt file too. And
                the
                final
                decrypted output will be Base64 string. If the intended output is a plain-text then,
                it
                can be decoded to plain-text in-place.</p>
            <p>But if the intended output is an image or .txt file then you can use <a
                    href="https://codebeautify.org/base64-to-image-converter" rel="nofollow">this
                    tool</a> to convert the base64 encoded output to an image.</p>
        </div> -->

        <!-- <div class="row">
            <ul class="free-list">
                <li>References</li>
                <li><a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard" target="_blank"
                        rel="nofollow">AES wiki</a></li>
                <li>
                    <a href="http://searchsecurity.techtarget.com/definition/Advanced-Encryption-Standard"
                        target="_blank" rel="nofollow">AES Encryption</a></li>
                <li>
                    <a href="https://stackoverflow.com/questions/13467343/want-to-use-aes-256-cbc-with-32-bytes-but-it-shows-java-security-invalidalgorith"
                        target="_blank" rel="nofollow">AES IV</a></li>
            </ul>
        </div> -->

        <div class="clearfix"></div>
    </div>
    <div class="col-md-3 col-sm-12 col-12 row-off">
        <div class="mb-9">
            <h3 class="h5 mb-4 text-primary">Other Free Tools</h3>
            <ul class="list-group">
                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="online-tools/rsa-encryption-decryption">Online RSA Encrypt
                        Decrypt</a>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="{% url 'tdes' %}">Online Triple DES Encrypt Decrypt</a>
                </li>
               
                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="{% url 'des' %}">Online DES
                        Encrypt Decrypt</a>
                </li>
               
                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="{% url 'hash' %}"> Online HASH Tool</a>
                </li>
               
            </ul>

        </div>
    </div>
</div>


<link rel="stylesheet" href="{% static './css/custom.css' %}">


<script>


    let encrypt = document.getElementById("mode_encrypt");

    // Thêm sự kiện cho đối tượng
    if (encrypt.value == "ECB") {
        $("#labeloption").hide();
        $("#inputoption").hide();
    }

    encrypt.addEventListener("change", function () {
        if (encrypt.value == "ECB") {
            $("#labeloption").hide();
            $("#inputoption").hide();
        }
        else {
            $("#labeloption").show();
            $("#inputoption").show();
        }

    });
</script>

<script>
    let decrypt = document.getElementById("mode_decrypt");

    // Thêm sự kiện cho đối tượng
    if (decrypt.value == "ECB") {
        $("#decryptivinput").hide();
        $("#decryptivlabel").hide();
    }

    decrypt.addEventListener("change", function () {
        if (decrypt.value == "ECB") {
            $("#decryptivinput").hide();
            $("#decryptivlabel").hide();
        }
        else {
            $("#decryptivinput").show();
            $("#decryptivlabel").show();
        }

    });

</script>

<script>

    function validateEncryptForm() {
        var fileInput = document.forms["encryptform"]["fileInput"].value;
        var filekey = document.forms["encryptform"]["filekey"].value;


        if (fileInput == "") {
            alert("InputFile fields missing.");
            return false;
        }
        if (filekey == "") {
            alert("KeyFile fields missing.");
            return false;
        }
        return true;
    }

</script>






{% endblock container %}