{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static './js/jquery/jquery-3.4.1.min.js' %}"></script>

    <script src="{% static './js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static './css/bootstrap/bootstrap.min.css' %}">
    <title>Cryptography Application</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> 
            <img src="{%static './image/logo.jfif'%}" width="30" height="30" alt="">
            Crypto
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="" >DES </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/aes">AES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/rsa">RSA</a>
                </li>
            </ul>
            
        </div>
    </nav>
    <div class="container-fluid">
        <h3>Basic Navbar Example</h3>
        <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
        <p>The navbar-expand-xl|lg|md|sm class determines when the navbar should stack vertically (on extra large,
            large, medium or small screens).</p>
    </div>

</body>

</html>