{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static './js/jquery/jquery-3.4.1.min.js' %}"></script>

    <script src="{% static './js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static './css/bootstrap/bootstrap.min.css' %}">
    <title>Cryptography Application</title>

</head>

<body class="bg-light ng-scope">
    <div class="wrapper">
        {% block navbar %}

        {% endblock navbar %}

        <main id="content">
            <section class="section">
                <div class="container">
                    {% block container %}

                    {% endblock container %}
                </div>
                <div class="clearfix"></div>
                <!-- ngInclude: 'social.html' -->

              
               
    </div>
    </section>
    </main>
    <!--Footer-Wrap-->
    <footer class="border-top footer_ad">
        <div class="container pt-10 pb-9">
            <div class="row">
                <div class="col-sm-5">
                   
                    <p>
                        <span class="m-link-muted">Devglan</span> is one stop platform for all<br>
                        programming tutorials and courses.
                    </p>
                    <div class="social">
                        <a class="social-facebook m-0" href="https://www.facebook.com/devglanjava/" target="_blank"><i
                                class="fa fa-facebook-f"></i></a>
                        <a class="social-twitter m-0" href="https://twitter.com/only2dhir" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                        <a class="social-linkedin m-0" href="https://www.linkedin.com/in/dhiraj-rai-devglan/"
                            target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <h3 class="h6 mb-3">
                        About Us
                    </h3>
                    <ul class="list-unstyled mb-0 text-white-50">
                        <li><a class="m-list--link" href="https://www.devglan.com/about-us">About Us</a></li>
                        <li><a class="m-list--link" href="https://www.devglan.com/user/contact-us">Contact Us</a>
                        </li>
                        <li><a class="m-list--link" href="https://www.devglan.com/user/suggest">Suggest</a></li>
                        <li><a class="m-list--link" href="https://www.devglan.com/privacy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h3 class="h6 mb-3">
                        Quick Links
                    </h3>
                    <ul class="list-unstyled mb-0">
                        <li><a class="m-list--link" href="https://www.devglan.com">Home</a></li>
                        <li><a class="m-list--link" href="https://www.devglan.com/auth/login">Login / Join</a></li>
                        <li><a class="m-list--link" href="https://www.devglan.com/me/add-story">Submit Your
                                Story</a></li>
                        <li><a class="m-list--link" href="https://www.devglan.com/donate-to-devglan">Donate</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3 class="h6 mb-3">
                        Contact Us
                    </h3>

                    <!--<address class="fs-14">
                            <strong>Twitter, Inc.</strong><br>
                            1355 Market St, Suite 900<br>
                            San Francisco, CA 94103<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>-->
                    <address class="fs-14">
                        <strong>Dhiraj</strong><br>
                        <a class="m-link" href="mailto:#">dhiraj@devglan.com</a>
                    </address>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="container m-gab-1 border-top">

            <div class="row">
                <div class="col-md-12 text-center">
                    <p><span class="fs-17">©</span> 2020 <span class="m-link">Devglan</span>. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Copyright -->
    </footer>
    <!--End Footer-Wrap-->
    </div>



</body>

</html>