{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static './js/jquery/jquery-3.4.1.min.js' %}"></script>

    <script src="{% static './js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static './css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './css/custom.css' %}">

    <title>Cryptography Application</title>

</head>

<body class="bg-light ng-scope">
    <div class="wrapper">
        {% block navbar %}

        {% endblock navbar %}

        <main id="content">
            <section class="section">
                {% block section %}

                {% endblock section %}
                <div class="container">
                    {% block container %}

                    {% endblock container %}
                </div>
                <div class="clearfix"></div>
                <!-- ngInclude: 'social.html' -->



    </div>
    </section>
    </main>
    <!--Footer-Wrap-->
    <footer class="border-top footer_ad">


        <!-- Copyright -->

        <!-- End Copyright -->
    </footer>
    <!--End Footer-Wrap-->
    </div>



</body>

</html>