{% extends "index.html" %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{%static './image/logo.jfif'%}" width="30" height="30" alt="">
        Crypto
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'des' %}">DES </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'tdes' %}">TDES </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'hash' %}">HASH</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="{% url 'aes' %}">AES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="color: red;" href="{% url 'rsa' %}"><b>RSA</b> </a>
            </li>
        </ul>

    </div>
</nav>
{% endblock navbar %}

{% block container %}

<div class="row gap-y">
    <div class="col-md-9 col-sm-12 col-12">

        <div class="row text-center" style="margin-bottom: 3%;">
            <h1>Online RSA Encryption, Decryption And Key Generator Tool(Free)</h1>
        </div>

        <form action="{% url 'generateKey' %}" method="POST" id="generateKeyForm" role="form" style="max-width: 100%;">
            {% csrf_token %}

            <h3 class="text-center">Generate RSA Key Online </h3>

            <div style="text-align: center;margin-left: 25%; margin-right: 25%; margin-bottom: 1%;">
                <label for="mode">Select RSA Key Size:</label>

                <select name="dropdown" class="form-control input-lg ng-pristine ng-untouched ng-valid"
                    ng-model="mode_encrypt" id="key_length">
                    <option value="1024" selected="">1024 bits</option>
                    <option value="2048">2048 bits</option>
                    <option value="3072">3072 bits</option>
                </select>
                <div class="form-group" style="margin-top: 2%;">
                    <input class="btn btn-outline-primary" id="btn_Generate" type="submit" value="Generate">
                </div>
            </div>

        </form>

       

        <!-- <script>
            $(document).on('submit', '#generateKeyForm', function (e) {
                e.preventDefault();
                // console.log("dat")
                var form = $('#generateKeyForm')[0];
                var formData = new FormData(form);
                formData.append('dropdown', $('#key_length').val());
                // formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
                //console.log($(this).val());
                //var form = $(this).closest("form");
                var token = '{{csrf_token}}';
        
                $.ajax({
                    headers: { "X-CSRFToken": token },
                    type: 'POST',
                    url: "{% url 'generateKey' %}",
                    data: formData,
                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    dataType: 'json',
                    success: function (response) {
                        console.log("tiend12323at")
                        // $('#PublicKey').val(response.PublicKey);
                        // $('#PrivateKey').val(response.PrivateKey);
                        console.log("tiendat")
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
        
                    }
                });
            });
        
        </script> -->




        <h3 class="text-center">RSA Encryption and Decryption Online </h3>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form action="{% url 'rsa_encrypt' %}" enctype="multipart/form-data" method="POST" name="encryptform" id="encryptform" role="form">
                    {% csrf_token %}
                    <h3>RSA Encryption</h3>
                    <div class="form-group">
                        <label for="inputString">Choose the file to be encrypted:</label>
                        <input class="form-control input-lg" id="en_fileInput" type="file" file-model="file"
                            name="en_fileInput" required="required">
                    </div>

                    <!-- <div class="form-group">
                        <label for="mode">Key Mode</label>
                        <select class="form-control input-lg ng-pristine ng-untouched ng-valid" id="mode_encrypt" name="dropdown" >
                            <option value="PuK" selected="">Public Key</option>
                            <option value="PiK">Private Key</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label for="inputString">Choose the Key file: </label>
                        <input class="form-control input-lg" id="en_keyfile" type="file" file-model="file"
                            name="en_keyfile" required="required">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-primary" type="submit" value="Encrypt">
                        <!-- <button class="btn btn-primary" name="hash" value="hash" ng-click="decryptAes()">Decrypt
                        </button> -->
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 vertical-line">
                <form action="{% url 'rsa_decrypt' %}" enctype="multipart/form-data" method="POST" name="decryptform" id="decryptform" role="form">
                    {% csrf_token %}
                    <h3>RSA Decryption</h3>
                    <div class="form-group">
                        <label for="inputString">Choose the file to be decrypted:</label>
                        <input class="form-control input-lg" id="de_fileInput" type="file" file-model="file"
                            name="de_fileInput" required="required">
                    </div>

                    <!-- <div class="form-group">
                        <label for="mode">Key Mode</label>
                        <select class="form-control input-lg ng-pristine ng-untouched ng-valid" ng-model="mode"
                            id="mode_decrypt" >
                            <option value="PuK" selected="">Public Key</option>
                            <option value="PiK">Private Key</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label for="inputString">Choose the Key file: </label>
                        <input class="form-control input-lg" id="de_keyfile" type="file" file-model="file"
                            name="de_keyfile" required="required">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-primary" type="submit" value="Decrypt">
                        <!-- <button class="btn btn-primary" name="hash" value="hash" ng-click="decryptAes()">Decrypt
                        </button> -->
                    </div>
                </form>
            </div>
        </div>












       

        <div class="clearfix"></div>
    </div>
    <div class="col-md-3 col-sm-12 col-12 row-off">
        <div class="mb-9">
            <h3 class="h5 mb-4 text-primary">Other Free Tools</h3>
            <ul class="list-group">
                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="{% url 'des' %}">Online DES Encrypt Decrypt</a>
                </li>
                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="{% url 'tdes' %}">Online Triple DES Encrypt Decrypt</a>
                </li>

                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="{% url 'aes' %}">Online AES Encrypt Decrypt</a>
                </li>

                <li class="list-group-item justify-content-between align-items-center">
                    <a class="text-dark anim-link-2" href="{% url 'hash' %}"> Online HASH Tool</a>
                </li>

            </ul>

        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static './css/custom.css' %}">









{% endblock container %}